<div class="col-md-12">
    <app-weather [configuration]="configuration" [weatherInfo]="dataIstanbul" *ngIf="dataIstanbul"></app-weather>
    <app-weather [configuration]="configuration" [weatherInfo]="dataBerlin" *ngIf="dataBerlin"></app-weather>
    <app-weather [configuration]="configuration" [weatherInfo]="dataDublin" *ngIf="dataDublin"></app-weather>
    <app-weather [configuration]="configuration" [weatherInfo]="dataHelsinki" *ngIf="dataHelsinki"></app-weather>
    <app-weather [configuration]="configuration" [weatherInfo]="dataLondon" *ngIf="dataLondon"></app-weather>
    <app-weather [configuration]="configuration" [weatherInfo]="dataVancouver" *ngIf="dataVancouver"></app-weather>
</div>
